<div class="shadow-lg" style="padding-top: 5px;">
    <mat-toolbar style="background-color: lightgray;">Gestion des Users</mat-toolbar>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Liste des users">
            <table class="table">
                <thead>
                    <tr class="bg-dark-blue">
                        <td>Username</td>
                        <td>Mail</td>
                        <td>Role</td>
                        <td>modifier</td>
                        <td>supprimer</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users" class="table-rows">
                        <td>{{user.username}}</td>
                        <td>{{user.mail_user}}</td>
                        <td>{{user.role}}</td>
                        <td><button class="btn btn-outline-warning">Modifier</button></td>
                        <td><button class="btn btn-outline-danger">supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Liste des News">
            <table class="table">
                <thead>
                    <tr class="bg-dark-blue">
                        <td>Auteur</td>
                        <td>Message</td>
                        <td>Date</td>
                        <td>modifier</td>
                        <td>supprimer</td>
                        <td>
                            <mat-icon (click)="OpenAddNews()">+</mat-icon>
                        </td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Liste des Marques">
            <table class="table">
                <thead>
                    <tr class="bg-dark-blue">
                        <td>Nom</td>
                        <td>Date de création</td>
                        <td>modifier</td>
                        <td>supprimer</td>
                        <td>
                            <mat-icon (click)="OpenAddMarque()">+</mat-icon>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let marque of marques">
                        <td>{{marque.nom}}</td>
                        <td>{{marque.date_creation | date: 'dd MM YYYY'}}</td>
                        <td><button class="btn btn-outline-warning">Modifier</button></td>
                        <td><button class="btn btn-outline-danger">supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Liste des Produits">
            <table class="table">
                <thead>
                    <tr class="bg-dark-blue">
                        <td>Nom</td>
                        <td>Description</td>
                        <td>Prix (€)</td>
                        <td>Type</td>
                        <td>Marque</td>
                        <td>Modifier</td>
                        <td>supprimer</td>
                        <td>
                            <mat-icon (click)="OpenAddProduit()">+</mat-icon>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produit of produits">
                        <td>{{produit.nom}}</td>
                        <td>{{produit.description}}</td>
                        <td>{{produit.prix}}</td>
                        <td>{{produit.type_nom}}</td>
                        <td>{{produit.marque_nom}}</td>
                        <td><button class="btn btn-outline-warning">Modifier</button></td>
                        <td><button class="btn btn-outline-danger">supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Liste des Types de produits">
            <table class="table">
                <thead>
                    <tr class="bg-dark-blue">
                        <td>Nom</td>
                        <td>Modifier</td>
                        <td>supprimer</td>
                        <td>
                            <mat-icon (click)="OpenAddTypeProduit()">+</mat-icon>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let type of type_produits">
                        <td>{{type.nom}}</td>
                        <td><button class="btn btn-outline-warning">Modifier</button></td>
                        <td><button class="btn btn-outline-danger">supprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>