<div class="row">
    <div class="card col-lg-4" *ngFor="let new of ListeNews">
        <div class="card-header row">
            <a routerLink="/comments/{{new.id_news}}">News : {{new.message}}</a>
        </div>
        <div class="body">
            Postée le : {{new.date | date: 'dd-MM-YYYY hh:mm'}}
            <br> par : {{new.username}}
        </div>
        <div class="card-footer row">
            <button class="btn btn-outline-primary" (click)="SetViewOfCommentForm()">Commenter</button>
            <br>
            <form [formGroup]="addComment" [hidden]="!commentFormIsView" class="form-group">
                <br>
                <label>ajouter un commentaire :</label>
                <input (keypress)="commentFormKeyPress($event, new.id_news)" formControlName="comment" type="text" class="form-control" placeholder="commentaire ...">
            </form>
        </div>
    </div>
</div>